
{#
NOTE: This is a template file. Do not add actual
values here. See README.md for instructions.
-#}

linuxadmin_username = "{{ ansible_user }}"
linuxadmin_password = "{{ ansible_password }}"

proxmox_node        = "{{ proxmox_node }}"
proxmox_password    = "{{ proxmox_password }}"
proxmox_url         = "{{ proxmox_url }}"
proxmox_user        = "{{ proxmox_user }}"
