---

{#
NOTE: This is a template file. Do not add actual
values here. See README.md for instructions.
-#}

all:
  children:
    ndp_templates:
    ndp_management:
    ndp_vms:
  vars:
    ansible_user: "xxxx"
    ansible_ssh_private_key_file: "xxxx"
    ansible_sudo_pass: "xxxx"
    dns_domains: []
    krb5_realm: "xxxx"
    krb5_servers: []
    local_admin_user: "xxxx"
    ldap_search_base: "xxxx"
    ldap_uris: []
    mail_relayhost: "xxxx"
    mail_root_email: "xxxx"
    monitoring_cidr: "xxxx"
    motd_body: "xxxx"
    proxmox_api_host: "xxxx"
    proxmox_api_token_id: "xxxx"
    proxmox_api_token_secret: "xxxx"
    proxmox_api_user: "xxxx"
    proxmox_node: "xxxx"
    proxmox_storage_pool: "xxxx"
    proxmox_vm_cidr: "xxxx"
    ssh_admin_group: "xxxx"
    ssh_allow_groups: []
    sudoers: []
    syslog_ipv4: "xxxx"
    tanium_client_custom_tags: []
    tanium_client_download_endpoint: "xxxx"
    vm_cpu_cores: 2
    vm_memory: 4096

# NOTE: Only one template is currently supported.
ndp_templates:
  hosts:
    <name1>-template.chpc.utah.edu:
      local_admin_password: "xxxx"
      proxmox_node: "xxxx"
      vm_description_ubuntu: "NDP template VM"
      vm_id: xxxx
      vm_network_adapters_mac_address: "xxxx"
  vars:
    vm_os_disk_size: 10G

ndp_management:
  hosts:
    <name1>-mgmt.chpc.utah.edu:
      local_admin_password: "xxxx"
      proxmox_node: "xxxx"
      vm_description_ubuntu: "NDP management VM"
      vm_id: xxxx
      vm_network_adapters_mac_address: "xxxx"
  vars:
    vm_os_disk_size: 50G

ndp_vms:
  # hosts:
  #   <name1>.chpc.utah.edu:
  #     local_admin_password: "xxxx"
  #     vm_description_ubuntu: "NDP VM: xxxx"
  #     vm_id: xxxx
  #     vm_network_adapters_mac_address: "xxxx"
  #   <name2>.chpc.utah.edu:
  #     local_admin_password: "xxxx"
  #     vm_description_ubuntu: "NDP VM: xxxx"
  #     vm_id: xxxx
  #     vm_network_adapters_mac_address: "xxxx"
  vars:
    snaps:
      - name: aws-cli
        channel: v2/stable
        classic: true
      - name: etcd
      - name: microk8s
        channel: 1.32/stable
        classic: true
      - name: prometheus
    vm_os_disk_size: 50G
