
{#
NOTE: This is a template file. Do not add actual
values here. See README.md for instructions.
-#}

linuxadmin_username = "{{ ansible_user }}"
linuxadmin_password = "{{ ansible_password }}"

proxmox_token       = "{{ proxmox_api_token_secret }}"
proxmox_url         = "https://{{ proxmox_api_host }}:8006/api2/json"
proxmox_user        = "{{ proxmox_api_user }}!{{ proxmox_api_token_id }}"
